__pycache__/
*.py[cod]
*.egg-info/
htmlcov/
pkg/
.pybuild/
build/
dist/
.amazonq/
.last/
.coverage
coverage.xml
journalcheck-*/
debian/.debhelper/
debian/journalcheck/
debian/*.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
