__pycache__/
.pybuild/
*.py[cod]
*.egg-info/
htmlcov/
build/
dist/
tmp/
repo/
.amazonq/
.vscode/
.last/
.coverage
coverage.xml
journalcheck-*/
debian/.debhelper/
debian/journalcheck/
debian/*.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
